---
layout: page
title: Members of the Coastal Eco- & Evironmental Hydraulics Research Group 
show_sidebar: false
---
<h1>Professors</h1>
<hr />
<div class="columns">
    <div class="column is-3">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/dongdongshao.jpg" alt="Dongdong Shao" large_link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/dongdongshao.jpg" %}
    </div>
    <div class="column is-9">
    	<h2>Dongdong Shao</h2>
        <p>This is a page with the image-modal included. The page needs to be a .html page instead of markdown.</p>
        <p>You can click on the image to see a larger version in a modal.</p>
        <p>The below snippet shows an example of how to include the image modal.</p>

    </div>
</div>

<h1>Phd</h1>
<hr />

<div class="columns">
    <div class="column is-3">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/weilungao.jpg" alt="Weilun Gao" large_link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/weilungao.jpg" %}
    </div>
    <div class="column is-9">
    	<h2>Weilun Gao</h2>
        <p>This is a page with the image-modal included. The page needs to be a .html page instead of markdown.</p>
        <p>You can click on the image to see a larger version in a modal.</p>
        <p>The below snippet shows an example of how to include the image modal.</p>

    </div>
</div>

<hr />

<div class="columns">
    <div class="column is-3">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/shaoyanzheng.jpg" alt="Shaoyan Zheng" large_link="https://ceeh-bnu.github.io/ceeh-bnu.github.io/img/shaoyanzheng.jpg" %}
    </div>
    <div class="column is-9">
    	<h2>Shaoyan Zheng</h2>
        <p>This is a page with the image-modal included. The page needs to be a .html page instead of markdown.</p>
        <p>You can click on the image to see a larger version in a modal.</p>
        <p>The below snippet shows an example of how to include the image modal.</p>

    </div>
</div>