---
layout: page
title: 
hero_image: /img/hero1.jpg
show_sidebar: false
---

<h1>Associate professors</h1>
<hr />
<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/dongdongshao.jpg" alt="Dongdong Shao" large_link="https://ceeh-bnu.github.io/img/dongdongshao.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Dongdong Shao</h2>
        <p>
            <i>Associate Professor, School of Environment, Beijing Normal University, China</i> </p>
        <p>
            <i>Research interests</i>: Eco- and Environmental Hydraulics, Wetland Hydrological and Ecological Processes, Coastal Engineering
        </p>
		

    </div>
</div>

<h4>Recent employment and qualifications</h4>
<ul>
	<li>2011-present: Associate Professor, School of Environment, Beijing Normal University, China  
	</li>

	<li>2010-2011: Lecturer, School of Environment, Beijing Normal University, China</li>
	<li>2009-2010:  Postdoctoral Associate, Singapore-MIT Alliance for Research and Technology (SMART), Center for Environmental Sensing and Modeling (CENSAM), Singapore</li>
	<li> 2008-2009: Project Officer, Nanyang Technological University, Nanyang Environment &Water Research Institute (NEWRI), Singapore</li>
</ul>

<h4>Research profile</h4>
<p>
The research of Prof. Shao is primarily focused on morphodynamics and vegetation dynamics of coastal wetlands (particularly salt-marshes) and pollutant transport in coastal waters. Recent progresses in the former include: the effects of hydrological variability on estuarine and deltaic morphological evolution; the response mechanisms of the coastal salt-marsh vegetation to natural and anthropogenic stresses; modelling of growth and spreading of invasive plant species Spartina alterniflora as well as its control measures. 	
</p>

<p>Currently,  He is a member of the IAHR/IWA Joint Committee on Marine Outfall Systems (2012-2022).  he was invited to serve on the International Scientific Committee of the 12th International Symposium on Ecohydraulics (Tokyo, 2018), and the Guest Editor of the Special Issue of Geosciences themed on “Beyond the Channel—Investigating Processes at Crucial FluvialInterfaces”.  
</p>

<h4>Contacts</h4>
<p>Email: ddshao@bnu.edu.cn</p>

<br>
<br>
<br>





<h1>Post-doctoral researchers</h1>
<hr />

<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/weilungao.jpg" alt="Weilun Gao" large_link="https://ceeh-bnu.github.io/img/weilungao.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Weilun Gao</h2>
    	<p><i>Postdoctor</i></p>
		
		<p><i>Research interests</i>: Coastal morphodynamics, River avulsion, Ecogeomorphology</p>

    </div>
</div>

<h4>Basic information</h4>    
<p>Dr. Gao obtained his Ph.D. in Beijing Normal University, Beijing, where he investigated the combined effects of human-induced variability of river discharges and wave conditions on the morphological evolution of river deltas. He is currently doing his postdoc at Beijing Normal University, Zhuhai, focusing on the research topic of ecogeomorphology. He use both sophisticated and simplified models to understand and explore the morphological evolution of river deltas at different spatiotemporal scales.</p>	

<h4>Educational background</h4>
<p>
Beijing Normal University, Beijing, China, 2020, Ph.D., Environmental Science<br>South China University of Technology, Guangzhou, China, 2014, B.E., Hydraulic Engineering</p>		


<h4>Contacts</h4>
<p>Website: https://weilungao.github.io <br>Email: wl.gao@mail.bnu.edu.cn</p>

<br>
<br>
<br>




<h1>Students</h1>
<hr />

<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/shaoyanzheng.jpg" alt="Shaoyan Zheng" large_link="https://ceeh-bnu.github.io/img/shaoyanzheng.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Shaoyan Zheng</h2>
    	<p><i>Ph.D. student</i></p>	

    	 <p><i>Research interests</i>: Plant growth model,  Scogeomorphology model,  Spartina alterniflora</p>
       
    </div>
</div>
<br>
<br>

<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/xinyanwang.jpg" alt="Xinyan Wang" large_link="https://ceeh-bnu.github.io/img/xinyanwang.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Xinyan Wang</h2>
    	<p><i>Ph.D. student</i></p>

    
    	<p><i>Research interests</i>: Seagrass ecology & coastal wetland restoration</p>
       
    </div>
</div>
<br>
<br>

<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/dongxueli.jpg" alt="Dongxue Li" large_link="https://ceeh-bnu.github.io/img/dongxueli.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Dongxue Li</h2>
    	<p><i>Ph.D. student</i></p>
    	
    	<p><i>Research interests</i>: Biogeomorphology, Tidal creek, Vegetation</p>
       
    </div>
</div>


<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/shuaifu.jpg" alt="Shuai Fu" large_link="https://ceeh-bnu.github.io/img/shuaifu.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Shuai Fu</h2>
    	<p><i>Graduate student</i></p>	
    	
    	<p><i>Research interests</i>: Wetland ecology</p>
       
    </div>
</div>


<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/xianglaizeng.jpg" alt="Xianglai Zeng" large_link="https://ceeh-bnu.github.io/img/xianglaizeng.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Xianglai Zeng</h2>
    	<p><i>Graduate student</i></p>		
    	
    	<p><i>Research interests</i>: Experimental fluid dynamics & numerical simulation</p>
       
    </div>
</div>


<div class="columns">
    <div class="column is-2">
        {% include image-modal.html ratio="is-18by25" link="https://ceeh-bnu.github.io/img/xinyueyang.jpg" alt="Xinyue Yang" large_link="https://ceeh-bnu.github.io/img/xinyueyang.jpg" %}
    </div>
    <div class="column is-10">
    	<h2>Xinyue Yang</h2>
    	<p><i>Graduate student</i></p>	
    	
    	<p><i>Research interests</i>: Environmental hydraulics</p>
    </div>
</div>
